<?xml version="1.0"?>
<!--
/**
 * MageCheck
 * Magento 2 Categories Mapping Tool
 *
 * @author Chiriac Victor
 * @since 06.2018
 * @category   MageCheck
 * @package    MageCheck_CategoriesMappingTool
 * @copyright  Copyright (c) 2017 Mage Check (http://www.magecheck.com/)
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="MageCheck_CategoriesMappingTool" setup_version="1.0.0">
    </module>
</config>
