<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="MageCheck_CategoriesMappingTool::mapping"
                  title="Category Products Mapping Tool"
                  module="MageCheck_CategoriesMappingTool"
                  sortOrder="99"
                  action="mapping/product/" resource="MageCheck_CategoriesMappingTool::mapping"
                  parent="Magento_Backend::system_convert" />
    </menu>
</config>
